__pycache__/
.cache
cache
*.py[cod]
*$py.class
*.so
.Python
.env
.venv
env/
venv/
ENV/
.DS_Store
.live_streams_progress.json
.series_progress.json
.vod_progress.json
*.m3u
catalog/
series/
series-flat/
vod/
vod-flat/
catalog/vod_categories.json
catalog/vod_streams.json
xtream-api.code-workspace
.aider*
failed_streams.json
config.json
.vscode/launch.json
.logs/
